<button type="button" class="btn btn-info btn-sm" (click)="openNewPostModal()"><i class="bi bi-upload"></i> Create New Post</button>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Votes</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Created On</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts  | paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalItems } ; index as i">
      <td>{{ i + 1 }}</td>
      <td>{{ post.points }}</td>
      <td>{{ post.title }}</td>
      <td>{{ post.created_by }}</td>
      <td>{{ post.created_on }}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm" (click) = "upvote(post)"><i class="bi bi-hand-thumbs-up"></i> Upvote </button>
        <button type="button" class="btn btn-danger btn-sm" (click) = "downvote(post)"><i class="bi bi-hand-thumbs-down"></i> Downvote</button>
        <button type="button" class="btn btn-success btn-sm" (click)="openPostDetails(post)"><i class="bi bi-eye"></i> View Post</button>
        <button type="button" class="btn btn-secondary btn-sm" (click)="openEditPostModal(post)"><i class="bi bi-pencil"></i> Edit Post</button>
      </td>
    </tr>
  </tbody>
</table>

<div class="modal" id="postDetailsModal" tabindex="-1" aria-labelledby="postDetailsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="postDetailsModalLabel">{{ selectedPost?.title }}</h5>
        <button type="button" class="btn-close" (click) = "closePostDetails()" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><b>Text:</b> {{ selectedPost?.text }} </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click) = "closePostDetails()" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="newPostModal" tabindex="-1" aria-labelledby="newPostModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newPostModalLabel">New Post</h5>
        <button type="button" class="btn-close" (click) = "closeNewPostModal()" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
        <b><label for="newModalTextInput" class="form-label">Title:</label></b>
        <input type="text" id="newModalTextInput" [(ngModel)]="newPostTitle" class="form-control" placeholder="Title">
          <form>
            <div class="form-group">
              <label><b>Text:</b></label>
              <textarea class="form-control" rows="7" [(ngModel)]="newPostText" name="texterea"></textarea>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click) = "submitNewPost()">Submit</button>
        <button type="button" class="btn btn-secondary" (click) = "closeNewPostModal()" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="editPostModal" tabindex="-1" aria-labelledby="editPostModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editPostModalLabel">Edit Post</h5>
        <button type="button" class="btn-close" (click) = "closeEditPostModal()" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <b><label id="editPostModalTextInput" class="form-label">Title:</label></b>{{ selectedPost?.title }}
          <form>
            <div class="form-group">
              <label><b>Text:</b></label>
              <textarea class="form-control" rows="7" [value]="editPostText" (input)="onTextAreaValueChange($event)" name="edittexterea"></textarea>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click) = "submitUpdatedPost()">Submit</button>
        <button type="button" class="btn btn-secondary" (click) = "closeEditPostModal()" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <pagination-controls *ngIf="totalNumberOfPages > 1" previousLabel="Prev" nextLabel="Next" (pageChange)="onPageChange($event)"></pagination-controls>
</div>
