<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark" xmlns="http://www.w3.org/1999/html">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Mini Hacker News</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
<!--          <a class="nav-link" href="/createPost">Create New Post</a>-->
          <button class="btn btn-secondary btn-sm" (click)="openNewPostModal()"><span class="glyphicon glyphicon-arrow-down"></span>Create New Post</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Votes</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts ; index as i">
      <td>{{ i+1 }}</td>
      <td>{{ post.points }}</td>
      <td>{{ post.title }}</td>
      <td>{{ post.created_by }}</td>
      <td>
        <button class="btn btn-primary btn-sm" (click) = "upvote()"><span class="glyphicon glyphicon-arrow-up"></span> Upvote </button>
        <button class="btn btn-danger btn-sm" (click) = "downvote()"><span class="glyphicon glyphicon-arrow-down"></span> Downvote</button>
        <button class="btn btn-secondary btn-sm" (click)="openPostDetails(post)"><span class="glyphicon glyphicon-arrow-down"></span> View Text</button>
      </td>
    </tr>
  </tbody>
</table>

<div class="modal" id="postDetailsModal" tabindex="-1" aria-labelledby="postDetailsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="postDetailsModalLabel">{{ selectedPost?.title }}</h5>
        <button type="button" class="btn-close" (click) = "closePostDetails()" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><b>Text:</b> {{ selectedPost?.text }} </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click) = "closePostDetails()" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="newPostModal" tabindex="-1" aria-labelledby="newPostModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newPostModalLabel">New Post</h5>
        <button type="button" class="btn-close" (click) = "closeNewPostModal()" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
        <b><label for="disabledTextInput" class="form-label">Title:</label></b>
        <input type="text" id="disabledTextInput" [(ngModel)]="newPostTitle" class="form-control" placeholder="Title">
          <form>
            <div class="form-group">
              <label><b>Text:</b></label>
              <textarea class="form-control" rows="7" [(ngModel)]="newPostText" name="texterea"></textarea>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <form>{{ newPostTitle }}</form>
        <form>{{ newPostText }}</form>
        <button type="submit" class="btn btn-primary" (click) = "submitNewPost()">Submit</button>
        <button type="button" class="btn btn-secondary" (click) = "closeNewPostModal()" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
